[submodule "docs"]
	path = docs
	url = https://github.com/OS-Q/docs
[submodule "templates/modbus"]
	path = templates/modbus
	url = https://github.com/OS-Q/template-modbus
[submodule "templates/mqtt"]
	path = templates/mqtt
	url = https://github.com/OS-Q/template-mqtt
[submodule "templates/hmi"]
	path = templates/hmi
	url = https://github.com/OS-Q/template-hmi
[submodule "templates/rtu"]
	path = templates/rtu
	url = https://github.com/OS-Q/template-rtu
