examples/
tests/
docs/
dist
build
.cache
coverage.xml
.coverage
htmlcov
.pytest_cache
.gitmodules
*.egg-info
*.pyc
.pioenvs
.tox
*__pyc*
*.vscode/
*.html
*.rst
*CONTRIBUTING*
*readthedocs*
LICENSE*
**/*README*
*.png
*.jpg
# !README.rst
Makefile*
MANIFEST*
